@import 'tailwindcss';
@plugin '@tailwindcss/forms';

:root {
    --font-sans: 'Satoshi', --apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    @apply h-screen w-screen;
    @apply overflow-hidden;
}