name: Build Firmware


on:
  push:
    branches: [ main ]


jobs:

  build:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v5

      - name: Install Mongoose OS CLI
        run: |
          sudo add-apt-repository ppa:mongoose-os/mos
          sudo apt-get update
          sudo apt-get install mos-latest

      - name: Build Firmware
        run: |
          mos build


