name: Build Firmware


on:
  push:
    branches: [ main ]


jobs:

  build:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v5

      - name: Install Mongoose OS CLI
        run: |
          curl -fsSL https://mongoose-os.com/downloads/mos/install.sh | /bin/bash
          ls

      - name: Build Firmware
        run: |
          mos build


